*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.father10{
   padding-top: 3rem;
   margin-left: 3rem;
}

.son1{
    margin-left: 50rem;
    transform: translateY(-1.5rem);
}
.son2{
    margin-left: 2.82rem;
    
    h6{
        margin-left: 58.8rem;
       
    }
}
.son8{
    margin-left: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    p{
        margin-left: 10rem;
    }
    h1{
        margin-left: 29rem;
    }
}
.son9{
    margin-top: 2rem;
}
.father1{
    margin-left: 5rem;
}
.father2{
    margin-left: 5rem;
}
.father3{
    margin-left: 5rem;

   
}
.father{
    margin-top: 20rem;
    margin-left: 5rem;

    h2{
        margin-left: 10rem;
     }
     h3{
         margin-left: 29rem;
         
     }
}
.box1{
    margin-left: 5rem;
    margin-top: 2rem;
    background-color: #FFFFFF;
    
    h2{
       margin-left: 10rem;
    }
    h3{
        margin-left: 29rem;
        
    }
}
.box9{
    margin-top: 14rem;
}
.image1{
    margin-left: 20rem;
}
.image2{
    margin-left: 30rem;
}
.gap1{
    margin-left: 5rem;
    img{
        margin-left: 32rem;
    }
    h2{
        margin-left: 41rem;
    }
}
.gap2{
    img{
        margin-left: 2.5rem;
    } 
    h5{
        margin-left: 5rem;
    }
}
.A{
    margin-left: 5rem;
    
}
.B{
    margin-left: 34.5rem;
}
.gap4{
    h5{
        margin-left: 5.5rem;
    }
    img{
        margin-left: 2.5rem;
    }
}

